h1 {text-align: center;
    font-size: 60px;
    text-decoration: underline;
    background-color: black;
    
    color: orangered}

h2 {color: darkorange}
h3 {color: orange;
    text-align: center;
}

.link {font-weight: bold;
    font-size: x-large;
    color: green;
}

#styledImage {border: 20px solid darkorange;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
